In [24]:
import pandas as pd
import os
source_dir = os.path.join('.', 'names')


def count_top3(years: list):
    frames = []
    for year in years:
        file_name = os.path.join(source_dir, "yob{}.txt".format(year))
        frames.append(pd.read_csv(file_name, names=['Name', 'Sex', 'Count']))
    frames = pd.concat(frames)
    result = frames.groupby(['Name'])['Count'].sum().sort_values(ascending=False)
    return result[0:3]
    
    
count_top3([1900, 1950, 2000])

Name
James     111798
John      109593
Robert    101373
Name: Count, dtype: int64

In [25]:
fr = pd.read_csv("names/yob1880.txt", names=['Name', 'Sex', 'Count'])
g = fr.groupby(['Name'])['Count'].sum().sort_values(ascending=False)
g = fr.groupby(['Name','Count'])['Count'].sum().sort_values(ascending=False)

print((g))

Name       Count
John       9655     9655
William    9532     9532
Mary       7065     7065
James      5927     5927
Charles    5348     5348
George     5126     5126
Frank      3242     3242
Joseph     2632     2632
Anna       2604     2604
Thomas     2534     2534
Henry      2444     2444
Robert     2415     2415
Edward     2364     2364
Harry      2152     2152
Emma       2003     2003
Elizabeth  1939     1939
Walter     1755     1755
Minnie     1746     1746
Arthur     1599     1599
Margaret   1578     1578
Fred       1569     1569
Albert     1493     1493
Ida        1472     1472
Alice      1414     1414
Bertha     1320     1320
Sarah      1288     1288
Annie      1258     1258
Clara      1226     1226
Ella       1156     1156
Florence   1063     1063
                    ...
Sibyl      5           5
Unknown    5           5
Knute      5           5
Kit        5           5
Omie       5           5
Ula        5           5
Kelly      5           5
Eliseo     5           5
Vann       5           5
Vannie     5           5
Lemma      5           5
Layton     5           5
Lella      5           5
Hardie     5           5
Birtha     5           5
Blaine     5           5
Harl       5           5
Ely        5           5
Elvina     5           5
Boston     5           5
Brad       5           5
Bradford   5           5
Bradley    5           5
Brooks     5           5
Buck       5           5
Budd       5           5
Bulah      5           5
Ransom     5           5
Elroy      5           5
Jesse      5           5
Name: Count, Length: 1997, dtype: int64

In [9]:
print(fr)

            Name Sex  Count
0           Emma   F  18809
1       Isabella   F  18612
2          Emily   F  17429
3         Olivia   F  17078
4            Ava   F  17035
5        Madison   F  17027
6         Sophia   F  16081
7        Abigail   F  15081
8      Elizabeth   F  12002
9          Chloe   F  11824
10      Samantha   F  11178
11       Addison   F  10759
12       Natalie   F  10199
13           Mia   F  10168
14        Alexis   F   9721
15        Alyssa   F   9635
16        Hannah   F   9560
17        Ashley   F   9403
18          Ella   F   9349
19         Sarah   F   9042
20         Grace   F   9035
21        Taylor   F   8335
22       Brianna   F   8258
23          Lily   F   8119
24        Hailey   F   7866
25          Anna   F   7265
26      Victoria   F   7118
27         Kayla   F   6833
28       Lillian   F   6808
29        Lauren   F   6449
...          ...  ..    ...
35040    Zebulen   M      5
35041  Zecheriah   M      5
35042       Zeid   M      5
35043   Zemarion   M      5
35044    Zenaido   M      5
35045      Zenas   M      5
35046     Zennon   M      5
35047     Zeplin   M      5
35048     Zerick   M      5
35049     Zethan   M      5
35050      Zevon   M      5
35051   Zildjian   M      5
35052     Zimere   M      5
35053      Ziven   M      5
35054       Ziya   M      5
35055     Ziyear   M      5
35056       Zkye   M      5
35057       Zoel   M      5
35058       Zuko   M      5
35059     Zurich   M      5
35060         Zy   M      5
35061      Zylar   M      5
35062      Zylen   M      5
35063      Zylin   M      5
35064     Zymeir   M      5
35065     Zymire   M      5
35066  Zyquarius   M      5
35067  Zyquavion   M      5
35068     Zyrell   M      5
35069      Zyren   M      5

[35070 rows x 3 columns]

In [30]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                      'D': ['D2', 'D3', 'D6', 'D7'],
                     'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df1 = df4
result = pd.concat([df1, df4], axis=1, join='inner')

print(result)

    B   D   F   B   D   F
2  B2  D2  F2  B2  D2  F2
3  B3  D3  F3  B3  D3  F3
6  B6  D6  F6  B6  D6  F6
7  B7  D7  F7  B7  D7  F7